<footer>
    <div class="footer wrapper">
        <div class="footer__left">
            <div class="footer__logo">АВТОСАЛОН ЭКСПЕРТ ЦЕНТР</div>
            <div class="footer__logo-desct">Автомобили с пробегом</div>
            <div class="footer__soc-net">
                <a href="#"><svg class="footer__soc-net-icon"><use href="./styles/icons/icons.svg#vk"/></svg></a>
                <a href="#"><svg class="footer__soc-net-icon"><use href="./styles/icons/icons.svg#instagram"/></svg></a>
            </div>
            <div class="footer__info">
                <div class="footer__address">
                    <svg class="footer__address-icon"><use href="./styles/icons/icons.svg#home"/></svg>
                    г. Самара, Московское шоссе, 270
                </div>
                <div class="footer__phone">
                    <svg class="footer__phone-icon"><use href="./styles/icons/icons.svg#phone-call"/></svg>
                    <a class="footer__phone-link link" href="tel:+78462295548">+7 (846) 229-55-48</a>
                </div>

                <div class="footer__time">
                    <svg class="footer__time-icon"><use href="./styles/icons/icons.svg#clock"/></svg>
                    <div class="footer__time-descr">
                        Мы работаем ежедневно <div class="footer__time-big">с 8:00 до 20:00</div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="footer__list">
            <li class="footer__list-item"><a class="footer__list-link link" href="">Срочная продажа</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Комиссионная продажа</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Продажа с гарантией и обеспечительным платежом</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Онлайн-комиссия</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Автокредит</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Спецтехника в кредит</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Обмен авто</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Подбор авто</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Оценка авто</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Проверка перед покупкой</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Автострахование</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Предпродажная подготовка</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Юридическая консультация</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На выкуп</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На оценку</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На кредит</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На обмен</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На подбор</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На обратный звонок</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На комиссию</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На on-line комиссию</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На КАСКО</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Автострахование</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">На работу в компании</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Новости</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Агентам</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Гарантии</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Партнеры</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Отзывы</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Сотрудники</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Работа в компании</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Вакансии</a></li>
            <li class="footer__list-item"><a class="footer__list-link link" href="">Контакты</a></li>
        </ul>
    </div>
</footer>

<div class="footer__bottom wrapper">
    <a href="#" class="footer__b-logo"><img src="./images/logo.png" alt=""></a>
    <ul class="footer__b-list">
        <li class="footer__b-list-item"><a class="footer__b-link link" href="#">АВТОЗАПЧАСТИ</a></li>
        <li class="footer__b-list-item"><a class="footer__b-link link" href="#">КАТАЛОГ АВТО</a></li>
        <li class="footer__b-list-item"><a class="footer__b-link link" href="#">КОММЕРЧЕСКИЕ АВТО</a></li>
        <li class="footer__b-list-item"><a class="footer__b-link link" href="#">АВТОКРЕДИТ</a></li>
        <li class="footer__b-list-item"><a class="footer__b-link link" href="#">ПРОДАТЬ АВТО</a></li>
        <li class="footer__b-list-item"><a class="footer__b-link link" href="#">СЕРВИС</a></li>
    </ul>
</div>

<div class="footer__copyright">
    © 2000-2019 "Эксперт Авто" - продажа подержанных автомобилей в Самаре. <br> Все права защищены. Не является публичной офертой.
</div>