<header class="header">
	<div class="header__wrapper wrapper">
		<svg class="header__hamburger"><use href="./styles/icons/icons.svg#menu"/></svg>
		<a href="#" class="header__logo"><img src="./images/logo.png" alt="" class="header__logo-img"></a>
		<div class="header__descr">Работаем с 1985 года</div>

		<div class="header__location">
			<svg class="header__location-icon"><use href="./styles/icons/icons.svg#placeholder"/></svg>
			<div class="header__location-txt">Самара</div>
		</div>
		<div class="header__info">
			<div class="header__address">
				<svg class="header__address-icon"><use href="./styles/icons/icons.svg#home"/></svg>
				г. Самара, Московское шоссе, 270
			</div>
			<div class="header__phone">
				<svg class="header__phone-icon"><use href="./styles/icons/icons.svg#phone-call"/></svg>
				<a class="header__phone-link link" href="tel:+78462295548">+7 (846) 229-55-48</a>
			</div>
			<div class="header__soc-net">
				<a href="#"><svg class="header__soc-net-icon"><use href="./styles/icons/icons.svg#vk"/></svg></a>
				<a href="#"><svg class="header__soc-net-icon"><use href="./styles/icons/icons.svg#instagram"/></svg></a>
			</div>
		</div>

		<a class="header__phone-link_mob link" href="tel:+78462295548"><svg class="header__phone-icon"><use href="./styles/icons/icons.svg#phone-call"/></svg></a>
	</div>
	<div class="header__menu">
		<ul class="header__menu-wrap wrapper">
			<li class="header__menu-item"><a class="header__menu-link link" href="#">ГЛАВНАЯ</a></li>
			<li class="header__menu-item"><a class="header__menu-link link" href="#">КАТАЛОГ АВТО</a></li>
			<li class="header__menu-item"><a class="header__menu-link link" href="#">ПРОДАТЬ АВТО</a></li>
			<li class="header__menu-item"><a class="header__menu-link link" href="#">АВТОКРЕДИТ</a></li>
			<li class="header__menu-item"><a class="header__menu-link link" href="#">АВТОСЕРВИС</a></li>
			<li class="header__menu-item"><a class="header__menu-link link" href="#">АВТОЗАПЧАСТИ</a></li>
		</ul>

		<div class="header__phone header__phone_mob">
			<svg class="header__phone-icon"><use href="./styles/icons/icons.svg#phone-call"/></svg>
			<a class="header__phone-link link" href="tel:+78462295548">+7 (846) 229-55-48</a>
		</div>

		<div class="header__soc-net header__soc-net_mob">
			<a href="#"><svg class="header__soc-net-icon"><use href="./styles/icons/icons.svg#vk"/></svg></a>
			<a href="#"><svg class="header__soc-net-icon"><use href="./styles/icons/icons.svg#instagram"/></svg></a>
		</div>
	</div>
</header>